*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;  
    margin-left: 10%;
}

h1 {
    font-size: 3rem;
  margin-top: 20px;
  margin-left: 35%;
  color: #64c1ff
}
p{
    color: #64c1ff;
    font-size: 1.2rem;
    margin-left: 31%;
    margin-top: 30px;
    margin-bottom: 75px;
}

    


/* GAME */
.game-container {
    padding: 20px 5px;
    position: relative;
    margin-left: 28%;
    width: 450px;
    height: 350px;
}

/* figure */
.figure-container {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}

/* wrong letters */
.wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 5px 0;
}

.wrong-letters-container span {
    font-size: 24px;
}

/* word */
.word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid #2980b9;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    width: 20px;
    height: 50px;
}



/* POP-UP */
.pop-up-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.pop-up {
    background-color: #4b565e;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px 50px 30px 50px;
    text-align: center;
}

.pop-up button {
    cursor: pointer;
    background-color: #ffffff;
    color: #2980b9;
    border: 0;
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 3px;
}

.pop-up button:active {
    transform: scale(0.98);
}

.pop-up button:focus {
    outline: 0;
}



/* NOTIFICATION */
.notification-container {
    background-color: rgba(132, 129, 129, 0.578);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    right: 37.5%;
    transition: transform 0.3s ease-in-out;
}
.notification-container p {
    margin: 0;
}

.notification-container.show {
    transform: translateY(-50px);
}
